<!DOCTYPE html>
<html>
  <head>
    <title>Hello Bundled World</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=320, user-scalable=no">
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
        font: 62.5% arial, sans-serif;
        background: #ccc;
      }
      h1 {
        padding: 45px;
        margin: 0;
        text-align: center;
        color: #f33;
      }
    </style>
  </head>
  <body>
  <h1>我是一个html文件，点击下面可加载html文件，切换为通过url加载网上页面</h1>
  </body>
</html>
